.newListcontainer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  
  .create-note-list-form {
    display: flex; 
    flex-direction: column;
  }
  
  .create-note-list-form input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .create-note-list-form button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
  }
  
  .create-note-list-form button[type="submit"] {
    background-color: pink;
    color: white;
  }

   .noteName {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
  }

  
  .color-options {
    display: flex;
    gap: 10px; 
    margin-top: 10px;
  }
  
  .color-circle {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent; 
  }
  
  .color-circle.selected {
    border: 2px solid black; 
  }



  